@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This project was created by Group 3:</p>
<ul>
    <li>Tom Wanous</li>
    <li>Unmesha Punyamurthula</li>
    <li>Leon Cheneyon</li>
    <li>Akhil Kolla</li>
</ul>
<hr />
<img src="~/Pictures/table.jpg" width="400" height="300" />
<img src="~/Pictures/squaretable.jpg" width="400" height="300" />